<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="<%= request.getContextPath()%>/NewFile.css">
</head>

  <body>
  <header>
      <h1 style="text-align:center">
      会員登録完了画面
    </h1>
    <hr style="height:5px; background-color: #00FFFF;">
  </header>

     <div class="container">
 


        <main>
  <h3 style="text-align:center; margin-top: 0; margin-bottom: 10px">
    　　　　　　　　会員登録完了<br>
    　　　　　　　　ご登録いただきありがとうございます。<br>

  </h3>
          <p>　　　　　　　　   [<a href="<%= request.getContextPath() %>/login">ログイン画面へ</a>]</p>
       </main>
          </div>
       </main>
    </div>
  </body>
</html>