<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"> 
    <title>ログイン</title>
</head>

<body>
    <center>
<br><br><br>
      

        <main class="login">
            <div class="h2Border"></div>

            <form>

                <table>
                   <tr>
							 <th><label for="userid">ユーザー</label></th>
							<td><input type="text" name="userid" id="userid" value="<%= userid %>"></td>
						</tr>
						<tr>
							<th><label for="password">パスワード</label></th>
							<td><input type="password" name="password" id="password" value="<%= password %>"></td>
						</tr>
                </table>

                <br>

                <input type="button" value="ログイン">

                <br><br>

                <th style="text-align: center;">[<a href="<%= request.getContextPath() %>/list">会員登録</a>]</th>
            </form>

        </main>

      

    </center>
</body>
</html>
