th, td{
  text-align:left;
  border: 1px solid #000000;
}

th{
  background-color:#00FFFF;
  background-color: #6ff;

}

header {
  position: fixed; /* 画面に固定 */
  top: 0;          /* 画面の最上部に配置 */
  left: 0;         /* 画面の左端に配置 */
  width: 100%;     /* 横幅を画面いっぱいに広げる */
  z-index: 1000;   /* 他の要素より手前に表示させる */
  background-color:#ffff00;
}

main {
  margin-top: 40px; /* ヘッダーの高さに合わせて数値を調整 */
  margin: auto;
  padding-left:2%;
  text-align:center;
}

.title{
  padding-left:120;
}

.side-item {
  position: sticky;
  top: 150px;
  width: 120px;
  padding-left: 20px; 
  background-color:yellow;
  float:left;
}

.leftside-item {
  position: sticky;
  top: 130px;
  width: 130px;
  padding-left: 20px;
  margin-top: 50px;
  border: 5px solid #00FFFF; 
}

.rightside-item {
  position: sticky;
  top: 130px;
  width: 250px;
  padding-left: 20px;
  margin-top:50px;
  margin-left: 20px;
  border: 5px solid #00FFFF; 
}

.site-name{
  border: 5px solid #00FFFF; 
  padding-left: 20px;
  margin-bottom: 20px;
}

.sample-image{
    width: 100%;       /* 親要素に合わせて可変にする場合 */
    max-width: 100px;  /* 最大幅を指定 */
    border-radius: 10px; /* 角を丸くする */
}

.container {
  display: flex;
  margin-top: 50px;
  padding-top: 60px;
}

.buyconfirm-table {
    margin: auto;
    width: 600px;
    table-layout: fixed; /* 列幅を固定 */
    border-collapse: collapse;
  }
.buyconfirm-table th, .buyconfirm-table td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    overflow: hidden;
  }

.usertable{
  width:130%;
  height:50%;
  border-spacing:10
}

.usertable td{
  border:0px;
}

.tarea{
  height:100
}

.buttom{
  margin:20;
  
