/*管理者css*/

th, td{
  text-align:left;
  border: 1px solid #000000;
}

th{
  background-color:#00FFFF;
  background-color: #6ff;

}

a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
}

a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffff00;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}

a:hover:after {
  transform: translate(0, 0);
}

main {
  margin-top: 50px; /* ヘッダーの高さに合わせて数値を調整 */
  padding-left:2%;
  text-align:center;
  width:100%;
}

main h1{
	max-width:80%;
	text-align:left;
	border-bottom: 3px dotted #ffff00;
}

.color-change{
	padding: 10px 30px;
	font-size: 16px;
	background-color: #00FFFF;
	cursor: pointer;
	margin:3 auto;
}

.color-change:hover{
	background-color: #ffff00;
}

.color-change2{
	padding: 30px 50px;
	font-size: 16px;
	background-color: #00FFFF;
	cursor: pointer;
	margin:3 auto;
}

.color-change2:hover{
	background-color: #ffff00;
}

.color-change3{
	padding: 15px;
	flex:100 100 200px;
	max-width:25%;
}

.color-change3:hover{
	background-color: #b8f8fb;
}

main table{
	margin:auto;
	width:50%;
	height:70%;
	padding-top: 20px;
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.title{
  padding-left:120;
}

.title2{
 padding-right:55%;
}

.side-item {
  position: sticky;
  top: 200px;
  width: 130px;
  padding-left: 20px; 
  background-color:#00bfff;
  float:left;
}

.container {
  display: flex;
  padding-top: 10%;
  width:100%;
}

.usertable{
  width:130%;
  height:50%;
  border-spacing:10
}

.usertable td{
  border:0px;
}

.tarea{
  height:100
}

.buttom{
  margin:20;
  
}

.ornermenutitle{
	text-align:center ;
	padding-top: 10%;
	padding-bottom: 3%;
}

.ornermenu{
  text-align:center;
}

.orderlist1{
  width:130%;
  margin:2%
}

.orderlist1 td{
  border:0px;
}

.orderlist2{
  margin:auto;
  width:100%;
  table-layout: fixed;
}

.Otd3{
	width:10%;
	padding-right: 50%;
}

.status{
  text-align:left;
}

.picture{
	width: 40%;
	height:40%;
}
