/*ユーザーcss*/

th, td{
  text-align:left;
  border: 1px solid #000000;
}

th{
  background-color:#00FFFF;
  background-color: #6ff;

}


/* ホバーするとアンダーラインが引かれる */
a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
}

a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00F;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  content: "";
}

a:hover:after {
  transform: translate(0, 0);
}


/*メイン*/
main {
  margin-top: 50px;
  padding-left:2%;
  text-align:center;
  width:100%;
}

main h1{
	max-width:80%;
	text-align:left;
	border-bottom: 3px dotted #0000ff;
}


/* ホバーすると色が変わる */
.color-change{
	padding: 10px 30px;
	font-size: 16px;
	background-color: #00FFFF;
	cursor: pointer;
	margin:3 auto;
}

.color-change:hover{
	background-color: #ffff00;
}

.color-change2{
	padding: 30px 50px;
	font-size: 16px;
	background-color: #00FFFF;
	cursor: pointer;
	margin:3 auto;
}

.color-change2:hover{
	background-color: #ffff00;
}

.color-change3{
	padding: 15px;
	flex:100 100 200px;
	max-width:25%;
}

.color-change3:hover{
	background-color: #b8f8fb;
}


/*ツールチップ ホバーすると文章を表示する*/
.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}
.tooltip-text {
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  bottom: 30px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  border-radius: 3px; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.title{
  padding-left:120;
}

.side-item {
  position: sticky;
  top: 150px;
  width: 160px;
  padding-left: 20px; 
  background-color:#ffff00;
  float:left;
}

.container {
	display: flex;
	 padding-top: 10%;
	 width:100%;
}

.usertable{
  width:130%;
  height:50%;
  border-spacing:10
}

.usertable td{
  border:0px;
}

.tarea{
  height:100
}

.buttom{
  margin:20;
  
}
