/*ユーザーcss*/

th, td{
  text-align:left;
  border: 1px solid #000000;
}

th{
  background-color:#00FFFF;
  background-color: #6ff;

}

main {
  margin-top: 50px;
  padding-left:2%;
  text-align:center;
  width:100%;
}

main h1{
	max-width:80%;
	text-align:left;
	border-bottom: 3px dotted #0000ff;
}

.title{
  padding-left:120;
}

.side-item {
  position: sticky;
  top: 150px;
  width: 160px;
  padding-left: 20px; 
  background-color:#ffff00;
  float:left;
}

.container {
	display: flex;
	 padding-top: 10%;
	 width:100%;
}

.usertable{
  width:130%;
  height:50%;
  border-spacing:10
}

.usertable td{
  border:0px;
}

.tarea{
  height:100
}

.buttom{
  margin:20;
  
}
